.v-wrapper{
  background-color: #151515;
}

.v-container{
  justify-content: space-between;
}

.v-container .image-container {
  border: 8px solid black;
}
.v-container > div {
  flex: 1;
}

.v-left{
  gap: 0.5rem;
  
}

.v-right {
  width: 100%;
}
.accordion {
  margin-top: 2rem;
  border: none;
}
.accordionItem {
  background: black;
  border: 0.8px solid black;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}
.accordionButton {
  background: black;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  fill: var(--#fbc403);
}

.accordionButton .primaryText{
    font-size: 1.1rem;
}

@media (max-width: 1024px) {
    .v-container{
        flex-direction: column;
    }
    .v-right{
        justify-content: center;
    }  
}

@media (max-width: 768px) {
    .accordionButton .primaryText{
        font-size: .8rem;
    }
}